<ion-header>
  <ion-toolbar color="tertiary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title class="ion-text-center">{{ 'Category' || categoryName}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content color="medium">
  <ion-grid>
    <ion-row>
      <ion-col size="12">
        <ion-item color="light">
          <ion-label text-right>Sort</ion-label>
          <ion-select placeholder="Sort by" [(ngModel)]="sort" (ionChange)="changeSort()">
            <ion-select-option value="0">New to old</ion-select-option>
            <ion-select-option value="1">Old to new</ion-select-option>
            <ion-select-option value="2">A to Z</ion-select-option>
            <ion-select-option value="3">Z to A</ion-select-option>
          </ion-select>

        </ion-item>
      </ion-col>
    </ion-row>
  </ion-grid>
  <ion-refresher slot="fixed" (ionRefresh)="getPosts($event, 'refresh')">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>
  <ion-grid>
    <ion-row>
      <ion-col *ngFor='let item of items' size-sm="12" size-md="4" size-lg="3">
        <ion-card color="light">
          <ion-img (click)="openDetail(item)" [src]="item._embedded['wp:featuredmedia'][0].source_url"></ion-img>
          <ion-card-header>
            <ion-card-title class="ion-text-center" color="tertiary" (click)="openDetail(item)">
              <span class="ion-text-wrap" [innerHTML]="item.title.rendered"></span>
            </ion-card-title>
          </ion-card-header>
          <ion-card-content>
            <!-- <ion-grid> -->
            <ion-grid class="ion-text-center">
              <ion-row>
                <ion-col size="12" class="ion-text-center">
                  <ion-item color="light" (click)="openDetail(item)">
                    <ion-avatar slot="start">
                      <img src="{{item._embedded.author[0].avatar_urls['48']}}">
                    </ion-avatar>
                    <ion-label>{{item._embedded.author[0].name}}</ion-label>
                  </ion-item>
                </ion-col>
              </ion-row>
              <ion-row>
                <ion-col size="6" (click)="openCategoryPage(item.categories[0])">
                  <ion-badge class="ion-text-wrap" *ngIf="item._embedded['wp:term'][0][0].taxonomy === 'category'" color="tertiary">
                    {{item._embedded['wp:term'][0][0].name}}
                  </ion-badge>
                </ion-col>
                <ion-col (click)="openDetail(item)" size="6">
                  <ion-badge color="tertiary">
                    <span timeago [date]="item.date" [live]="'true'"></span>
                  </ion-badge>
                </ion-col>
              </ion-row>
              <ion-row>
                <ion-col size="12" class="ion-justify-content-between">
                  <ion-button
                    (click)="share(item.excerpt.rendered,item.title.rendered,item._embedded['wp:featuredmedia'][0].source_url,item.link)"
                    expand="block" color="primary">
                    <ion-icon slot="icon-only" name="share-social-outline"></ion-icon>
                  </ion-button>
                </ion-col>
              </ion-row>
            </ion-grid>

            <!-- </ion-grid> -->
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
  <div *ngIf="isLoading && page==1" text-center padding>
    <ion-spinner name="dots"></ion-spinner>
  </div>
  <ion-infinite-scroll (ionInfinite)="getPosts($event, 'infinite')">
    <ion-infinite-scroll-content></ion-infinite-scroll-content>
  </ion-infinite-scroll>

</ion-content>